
/* Custom Properties */
:root {
    /* Colors */
    --clr-neutral-900: 248 70%10%;
    --clr-neutral-700: 245 19% 35%;
    --clr-neutral-500: 245 15% 58%;
    --clr-neutral-300: 252 6% 83%;
    --clr-neutral-0: 0 0% 100%;

    --clr-orange-700: 7, 71%, 60%;
    --clr-orange-500: 7, 88%, 67%;
    --clr-gradient-01: linear-gradient(90deg, #F37362 0%, #FFF 100%);

    /* Fonts */
    --fs-preset-1: 3.75rem;
    --fs-preset-2: 2.5rem;
    --fs-preset-3: 1.875rem;
    --fs-preset-4: 1.5rem;
    --fs-preset-5: 1.25rem;
    --fs-preset-6: 1.125rem;
    --fs-preset-7: 0.75rem;

    --fs-mobile-preset-1: 1.875rem;
    --fs-mobile-preset-2: 1.5rem;
    --fs-mobile-preset-3: 1.375rem;
    --fs-mobile-preset-4: 1.25rem;
    --fs-mobile-preset-5: 1.25rem;
    --fs-mobile-preset-6: 0.875rem;
    --fs-mobile-preset-7: 0.65rem;
}

/* General Resets */
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ---------------------- */
/* Utilities */

/* Fonts */
.fs-1 {font-size: var(--fs-mobile-preset-1);}
.fs-2 {font-size: var(--fs-mobile-preset-2);}
.fs-3 {font-size: var(--fs-mobile-preset-3);}
.fs-4 {font-size: var(--fs-mobile-preset-4);}
.fs-5 {font-size: var(--fs-mobile-preset-5);}
.fs-6 {font-size: var(--fs-mobile-preset-6);}
.fs-7 {font-size: var(--fs-mobile-preset-7);}

@media (min-width: 768px) {
  .fs-1 {font-size: var(--fs-preset-1);}
  .fs-2 {font-size: var(--fs-preset-2);}
  .fs-3 {font-size: var(--fs-preset-3);}
  .fs-4 {font-size: var(--fs-preset-4);}
  .fs-5 {font-size: var(--fs-preset-5);}
  .fs-6 {font-size: var(--fs-preset-6);}
  .fs-7 {font-size: var(--fs-preset-7);}
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.hidden {display: none !important;}

.br {border-radius: 0.625rem;}

.red-highlight {color: hsl(var(--clr-orange-700));}
.white {color: hsl(var(--clr-neutral-0));}

.space-top { padding-top: .5rem; }

.error-icon {
    fill: hsl(var(--clr-orange-700));
}

body {
    background-color: hsl(var(--clr-neutral-900));
    color: hsl(var(--clr-neutral-300));
    font-family: "Inconsolata", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    position: relative;
    background-image: url("./assets/images/background-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

@media (min-width:768px) {
    body {
        background-image: url("./assets/images/background-tablet.png");
    }
}

@media (min-width:1124px) {
    body {
        background-image: url("./assets/images/background-desktop.png");
    }
}

main {
    position: relative;
    z-index: 10;
}

header {
    width: 100%;
    text-align: center;
    padding: .5rem .5rem 1.5rem .5rem;

    position: relative;
    z-index: 10;
}

.logo {
    margin-top: 1rem;
    margin-bottom: 1.5rem;   
}

main, .form {
    width: 100%;
}
main {
    padding: 1rem;
}

h1 {
    color: hsl(var(--clr-neutral-0));
}

label {
    padding-top: 1rem;
}

@media (min-width:600px) {
    /* body {
        max-width: clamp(60%, 40vw, 100%);
        margin-inline: auto;
    } */

    main {
        width: clamp(565px, 50vw, 670px);
    }
}


@media (min-width:1024px) {
    header {
        width: 80%;
    }

    main {
        width: clamp(460px, 30vw, 500px);
        /* width: 460px; */
        padding-bottom: 5rem;
    }

}

button {
    font-family: inherit;
}

.submit-btn {
    width: 100%;
    height: 56px;
    color: hsl(var(--clr-neutral-900));
    background-color: hsl(var(--clr-orange-700));
    font-weight: 700;
    border: 2px solid black;   /* inner border */
    outline: 1px solid white; /* outer border */
    outline-offset: 2;        /* adjust spacing */
}

.avatar-btn {
    background-color: hsl(var(--clr-neutral-300) / 10%);
    color: hsl(var(--clr-neutral-300));
    border: none;
    border-radius: 0.25rem;
    padding: 0.35rem 0.75rem;
}

.submit-btn:hover,
.submit-btn:focus{
    border: none;
    outline: none;
    cursor: pointer;
}

.avatar-btn:hover,
.avatar-btn:focus {
    text-decoration: underline;
    cursor: pointer;
}

.drop-zone {
    display: flex;
    flex-direction: column;
    gap: .95rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dashed hsl(var(--clr-neutral-500) / 50%);
    height: 128px;
    margin-block: .75rem;
    cursor: pointer;
    background-color: hsl(var(--clr-neutral-700) / 20%);
}  

.upload-box {
    width: 55px;
    height: 55px;
    border: 1px solid hsl(var(--clr-neutral-500) / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--clr-neutral-700) / 20%);
}

.preview--padded {
    padding: 0.5rem;
  }
  

.upload-info-icon {
    width: 16px;
    height: 16px;
}

.upload-info {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.input-field {
    margin-block: .5rem;
    display: flex;
    flex-direction: column;
}

input {
    height: 54px;
    background-color: hsl(var(--clr-neutral-700) / 20%);
    border: 1px solid hsl(var(--clr-neutral-700) / 90%);
    font-family: inherit;
    border-radius: 0.625rem;
    padding-left: .85rem;
    margin-top: .75rem;
    color: hsl(var(--clr-neutral-0));
}


input::placeholder{
    color: hsl(var(--clr-neutral-300));
    font-size: var(--fs-mobile-preset-6);
}

input:not(:placeholder-shown) {
    background-color: hsl(var(--clr-neutral-700) / 20%);
    border: 1px solid hsl(var(--clr-neutral-700) / 90%);
}

input.bg-color {
    background-color: hsl(var(--clr-neutral-700) / 50%);
}

input:hover,
input:focus,
.drop-zone:hover,
.drop-zone:focus {
    background-color: hsl(var(--clr-neutral-700));
}

div.highlight {
    border-color: hsl(var(--clr-neutral-500));
    background: hsl(var(--clr-neutral-300));
  }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* SUCCESS PAGE ONLY */

main.card-container {
    padding: 0;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
}

#successTitleMsg {
    margin-bottom: 2.5rem;
}

div.card {
    background-image: url("./assets/images/pattern-ticket.svg");
    width: clamp(320px, 40vw, 600px);
    height: 160px;

    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    padding: 1rem 0 1rem 1rem;

    /* border: 1px solid beige; */

    display: flex;
    flex-direction: column;
}

.card-logo-mark {
    width: 30px;
    height: 30px;
    /* border: 1px solid red; */
    align-self: flex-start;
    
}

.card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
    /* justify-content: center; */

}

.card-logo-header > h2 {
    margin-bottom: .5rem;
    /* border: 1px solid red; */
}

h3.card-name {
    font-weight: 400;
}

.highlight-name {
    background: var(--clr-gradient-01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-avatar {
    width: 45px;
    height: 45px;
    border-radius: 8px;
}

.card-content {
    display: flex;
    gap: .5rem;
    margin-top: auto;
    /* margin-bottom: 1rem; */
    /* align-self: end; */
    /* justify-self: end; */
}


.card-github-section {
    display: flex;
    align-items: center;
    gap: .25rem;
}

@media (min-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.card {
        width: 600px;
        height: 280px;
        padding-left: 1.85rem;
        padding-block: 1.85rem;
    }

    #ticketConfirmation {
        width: 514px;
        line-height: 1.4;
    }

    .card-user-section {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        /* border: 1px solid red; */
    }

    .card-logo-header > h2 {
        margin-bottom: 1rem;
        /* border: 1px solid red; */
    }

    main.card-container {
        margin-top: (3rem, 30vw, 3.5rem)
    }

    .card-logo-mark {
        width: 40px;
        height: 40px;
    }

    .card-avatar {
        width: 80px;
        height: 80px;
        border-radius: 8px;
    }

    .card-content {
        gap: .85rem;
    }

    h3.card-name {
        font-size: var(--fs-preset-3);
    }

    .card-user-section {
        padding-block: .5rem;

    }

    .card-github-section > small {
        font-size: var(--fs-preset-5);
    }
}

@media (min-width: 1024px) {
    main.card-container {
        width: 600px;
    }
    div.card {
        background-size: cover;
        width: 100%;
        padding-block: 1.5rem;
        margin-bottom: 3rem;
    }
  }

/* -------------------- */
/* - BACKGROUNG IMAGES- */
/* -------------------- */

.bg-pattern-lines {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-squiggly-top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

.bg-squiggly-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 4;
}

@media (max-width:769px) {
    .bg-squiggly-top {
        width: 230px;
        height: 110px;
        top: 5%;
    }

    .bg-squiggly-bottom img {
        width: 396px;
        height: 278px;
    }
}

@media (max-width:481px) {
    .bg-squiggly-top {
        width: 112px;
        height: 52px;
        top: 2%;
    }

    .bg-squiggly-bottom img {
        width: 301px;
        height: 209px;
    }
}

.bg-pattern-circle{
    width: 218px;
    height: 218px;

    position: fixed;
    top: 50%;
    left: 70%;
    z-index: 3;
} 
