
/* Custom Properties */
:root {
    /* Colors */
    --clr-neutral-900: 248, 70%, 10%;
    --clr-neutral-700: 245, 19%, 35%;
    --clr-neutral-500: 245, 15%, 58%;
    --clr-neutral-300: 252, 6%, 83%;
    --clr-neutral-0: 0, 0%, 100%;

    --clr-orange-700: 7, 71%, 60%;
    --clr-orange-500: 7, 88%, 67%;
    --clr-gradient-01: linear-gradient(90deg, #F37362 0%, #FFF 100%);

    /* Fonts */
    --fs-preset-1: 3.75rem;
    --fs-preset-2: 2.5rem;
    --fs-preset-3: 1.875rem;
    --fs-preset-4: 1.5rem;
    --fs-preset-5: 1.25rem;
    --fs-preset-6: 1.125rem;
    --fs-preset-7: 0.75rem;

    --fs-mobile-preset-1: 1.875rem;
    --fs-mobile-preset-2: 1.5rem;
    --fs-mobile-preset-3: 1.375rem;
    --fs-mobile-preset-4: 1.25rem;
    --fs-mobile-preset-5: 1.25rem;
    --fs-mobile-preset-6: 0.875rem;
    --fs-mobile-preset-7: 0.65rem;
}

/* General Resets */
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
}

html, body {
    height: 100vh;
    min-width: 100vw;
}

/* ---------------------- */
/* Utilities */

/* Fonts */
.fs-1 {font-size: var(--fs-mobile-preset-1);}
.fs-2 {font-size: var(--fs-mobile-preset-2);}
.fs-3 {font-size: var(--fs-mobile-preset-3);}
.fs-4 {font-size: var(--fs-mobile-preset-4);}
.fs-5 {font-size: var(--fs-mobile-preset-5);}
.fs-6 {font-size: var(--fs-mobile-preset-6);}
.fs-7 {font-size: var(--fs-mobile-preset-7);}

@media (min-width: 768px) {
  .fs-1 {font-size: var(--fs-preset-1);}
  .fs-2 {font-size: var(--fs-preset-2);}
  .fs-3 {font-size: var(--fs-preset-3);}
  .fs-4 {font-size: var(--fs-preset-4);}
  .fs-5 {font-size: var(--fs-preset-5);}
  .fs-6 {font-size: var(--fs-preset-6);}
  .fs-7 {font-size: var(--fs-preset-7);}
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

body {
    background-color: hsl(var(--clr-neutral-900));
    color: hsl(var(--clr-neutral-300));
    font-family: "Inconsolata", monospace;
    display: flex;
    flex-direction: column;
    /* margin-inline: auto; */
    align-items: center;
}

/* main {
    border: 1px solid red;
} */

header {
    width: 100%;
    /* padding-bottom: 1.5rem; */
    text-align: center;
    padding: .5rem .5rem 1.5rem .5rem;
}

.logo {
    margin-top: 1rem;
    margin-bottom: 1.5rem;   
}

main, .form {
    width: 100%;
}
main {
    padding: 1.5rem;
}

h1 {
    color: hsl(var(--clr-neutral-0));
}

label {
    padding-top: 1rem;
}

@media (min-width:600px) {
    /* body {
        max-width: clamp(60%, 40vw, 100%);
        margin-inline: auto;
    } */

    main {
        width: clamp(565px, 50vw, 670px);
    }
}


@media (min-width:1024px) {
    main {
        width: clamp(460px, 50vw, 575px);
    }

}

button {
    width: 100%;
    height: 56px;
    font-family: inherit;
    color: hsl(var(--clr-neutral-900));
    background-color: hsl(var(--clr-orange-700));
    font-weight: 700;
    border-radius: 0.625rem;
    border: 2px solid black;   /* inner border */
    outline: 1px solid white; /* outer border */
    outline-offset: 2;        /* adjust spacing */
}

button:hover,
button:focus{
    border: none;
    outline: none;
    cursor: pointer;
}

.input-field {
    margin-block: .5rem;
    display: flex;
    flex-direction: column;
    /* gap: .125rem; */
}

input {
    height: 54px;
    background-color: hsl(var(--clr-neutral-900));
    border: 1px solid hsl(var(--clr-neutral-700));
    border-radius: .625rem;
    font-family: inherit;
    padding-left: .85rem;
    margin-top: .75rem;
    color: hsl(var(--clr-neutral-0));
}

input::placeholder{
    color: hsl(var(--clr-neutral-300));
    font-size: var(--fs-mobile-preset-6);
}

/* .file-upload {
    border: 1px dashed red;
} */

.upload-prompt {
    display: flex;
    flex-direction: column;
    gap: .85rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px dashed hsl(var(--clr-neutral-500));
    border-radius: 0.625rem;
    height: 126px;
    margin-block: .75rem;
    /* background-color: hsl(var(--clr-neutral-700)); */
}  

.upload-icon {
    width: 45px;
    height: 45px;
    border: 1px solid hsl(var(--clr-neutral-700));
    padding: .5rem;
    border-radius: .625rem;
    background-color: hsl(var(--clr-neutral-900));
}

.upload-info-icon {
    width: 16px;
    height: 16px;
}

.upload-info {
    display: flex;
    align-items: center;
    gap: .5rem;
}


div.highlight {
    border-color: #000;
    background: #f4f4f4;
  }

#avatarInput {
    display: none;
}